<robot
  name="camera_finger">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0090622 0.011358 0.01576"
        rpy="0 0 0" />
      <mass
        value="0.012149" />
      <inertia
        ixx="4.0424E-06"
        ixy="3.7712E-07"
        ixz="2.5332E-07"
        iyy="2.2857E-06"
        iyz="9.9897E-07"
        izz="2.5769E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://camera_finger/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://camera_finger/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>